version: 1
update_configs:
  - package_manager: 'javascript'
    directory: '/'
    update_schedule: 'live'
    version_requirement_updates: increase_versions
    default_labels:
      - 'internal'
    ignored_updates:
      - match:
          dependency_name: 'ember-cli'
      - match:
          dependency_name: 'ember-source'
    automerged_updates:
      - match:
          dependency_type: 'development'
          update_type: 'all'
      - match:
          dependency_type: 'production'
          update_type: 'all'
